/* width */
::-webkit-scrollbar {
	width: 10px;
	background:black;
}

/* Track */
::-webkit-scrollbar-track {
	background:#1D1F24;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:#2c3038;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#2c3038;
}
nav{
	padding: 24px;
 	font-size: 36px;
  	opacity: 0;
}
nav, #particles-js{
	animation: fadein 2s 0s forwards;
}
nav a{
	padding-right: 16px;
	color: white;
}

body{
	background: #161515;
  	color: white;
  	margin: 0; 
	min-height: 100%; 
	overflow-x: hidden;
}

.icon{
	float: right;
	font-size: 24px;
	padding: 16px;
}
main{
	border-top:white 1px solid;
	height: 100vh;
  	font-family: 'Texturina', serif;
  	opacity: 0;
  	animation: fadein 2s;
  	animation-delay: 1s;
  	animation-fill-mode: forwards;  
}
.sidenav {
	min-height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background: linear-gradient(to top right, #2c3038 0%,#111316 100%);
	overflow-x: hidden;
	transition: 1s;
	padding-top: 60px;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
#mainContent h2{
	font-size: 15vmin;
	margin-bottom: 0;
}
#mainContent i{
	font-size: 3vmin;
}
#creators p:first-child{
	font-weight: bold;
}
#creators p:last-child{
	font-size: 5vmin
}
#creators div{
	font-size: 13vmin;
}
#creators div p{
	margin-top: 0px;
	margin-bottom: 0px;
}
#particles-js {
	position: absolute;
	z-index: -99;
	width: 100%;
	height: 120%;
	background-color: #161515;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	opacity: 0;
}