body{
    overflow-y: auto;
}
#creators{
    text-align: center;
    width: 100%;
    padding-right: 48px;
    margin-top:128px;
}
#mainContent{
    text-align: center;
    border-bottom: 1px white solid;
    width: 80%;
    margin-left: 10%;
}
