body{
    overflow: visible;
}
#creators{
    float: left;
    width: 30%;
    padding-right: 48px;
    margin-top:128px;
}
#creators div{
    font-size: 13vmin;
}
#creators div p{
    margin-top: 0px;
    margin-bottom: 0px;
}
#creators p:first-child{
    font-weight: bold;
}
#creators p:last-child{
    font-size: 5vmin
}
#mainContent{
    text-align: center;
    border-bottom: 1px white solid;
    width: 80%;
    margin-left: 10%;
}
